.headers {
    text-align: center;
    font-weight: bold;
    font-family: "Lucida Console", monospace;
    font-size: xx-large;
    margin-top: 1%;
}

.main {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.footers {
    text-align: center;
    font-family: "Copperplate", fantasy;
    font-size: large;
}

.travelHide {
    display: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.game {
    opacity: 0.5;
}

.game:hover {
    opacity: 1.0;
}

#whoIs {
    padding-top: 1%;
    font-size: x-large;
    font-family: "Copperplate", fantasy;
}

#bodyColor {
    background-color: #e7e7e7;
}

#dropdown {
    text-align: center;
    padding-bottom: 1%;
}

#video {
    height: 600px;
    width: 600px;
    max-width: 100%;
}

#ratings {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
}

#homeButton {
    border-radius: 25%;
    background-color: #e7e7e7;
}

#travelButton {
    border-radius: 25%;
    background-color: #04AA6D;
}

#foodButton {
    border-radius: 25%;
    background-color: #f44336;
}

#gamesButton {
    border-radius: 25%;
    background-color: #008CBA;
}